@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    position: relative;
    height: 100vh;
    z-index: 1;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: #212529bb;
}

body>* {
    z-index: 10;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
}

main {
    z-index: 0;
}

footer {
    position: fixed;
    z-index: 0;
    left: 0px;
    bottom: 0px;
}

h1 {
    padding-bottom: 25px;
}

h1>span {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
}

#navbar_default {
    display: flex;
}

#navbar_mobile {
    transition: 0.4s ease-in-out;
    display: none;
    position: fixed;
    top: 0px;
    left: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

#hamburger_button {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 100;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    display: none;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 15px;
    left: 15px;
    color: white;
    background-color: #b3a550;
    padding: 5px;
    border-radius: 100%;
}

@media screen and (max-width: 1080px) {
    h1>span {
        font-size: 2.7rem;
    }

    #navbar_mobile {
        display: flex;
    }

    #navbar_default {
        display: none;
    }

    #hamburger_button {
        display: flex;
    }

    #logo{
        display: flex;
    }
}